[Unit]
Description=Keymaker macropad daemon
After=graphical-session.target
PartOf=graphical-session.target
StartLimitIntervalSec=0

[Service]
Type=exec
ExecStart=/usr/bin/python -m keymakerd
Environment=PYTHONPATH=%h/src/keymaker/shared:%h/src/keymaker/daemon
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
